
body{
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(../img/images/pantai.jpg);
  background-size: cover;
  font-family: arial;
  background-attachment: fixed;
  background-position: center;

}

h1 {
	text-align: center;
	color: #262228;
	font-family: 'Nunito', sans-serif;
}

.loginbox {
	width: 380px;
	height: 370px;
	background: rgba(255, 255, 255, 0.9);
	color: #eaeaea;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 20px;
	padding: 30px 50px;
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}


.loginbox input[type="submit"]
{
	width: 100%;
	border: none;
	outline: none;
	height: 42px;
	background: #0B3C5D;
	color: white;
	font-size: 20px;
	border-radius: 20px;
	font-family: 'Quicksand', sans-serif;


}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: skyblue;
	color: white;

}

.textbox {

width: 100%;
overflow: hidden;
font-size: 20px;
padding: 10px 0;
margin: 10px 0;
margin-bottom: 45px;
border-bottom: 1px solid black;
}

.textbox i {

	width: 26px;
	float: left;
	text-align: center;
}

.textbox input {

	border: none;
	outline: none;
	background: none;
	color: black;
	font-size: 16px;
	width: 80%;
	float: left;
	margin: 0 10px ;
	font-family: 'Quicksand', sans-serif;
}
